[MESSAGES CONTROL]
indent-string="\t"
disable=
    missing-function-docstring,
    broad-except,
	bad-continuation,
	import-outside-toplevel,
	line-too-long,
	no-self-use,
	too-few-public-methods,
	too-many-arguments

[LOGGING]
logging-format-style=new

[FORMAT]
good-names=ex
